{% extends 'ui/base.html' %}
{% block title %}Feature Flags{% endblock %}
{% block content %}
<main class="yu-stack" id="main" tabindex="-1">
  <h1>Feature Flags</h1>
  <ul id="ff-list" data-testid="ff-list" class="yu-stack"></ul>
  <p class="yu-help">Togglar sparas per tenant. Ingen omladdning krävs.</p>
  <p><a class="yu-no-underline" href="{{ url_for('ui.superuser_dashboard') }}">← Tillbaka</a></p>
  </main>
{% endblock %}
{% block scripts %}
  <script src="{{ url_for('ui.static', filename='js/feature_flags.js') }}" defer></script>
{% endblock %}
