<div
  class="yp-weekpicker"
  data-weekpicker
  data-base-path="{{ base_path }}"
  data-year="{{ year }}"
  data-week="{{ week }}"
  {% if site_id %}data-site-id="{{ site_id }}"{% endif %}
  {% if department_id %}data-department-id="{{ department_id }}"{% endif %}
>
  <button type="button" class="yp-weekpicker__btn" data-weekpicker-prev aria-label="Föregående vecka">&lsaquo;</button>
  <select class="yp-weekpicker__select" data-weekpicker-select aria-label="Vecka">
    <option value="{{ year }}-{{ '%02d'|format(week) }}">v{{ week }} {{ year }}</option>
  </select>
  <button type="button" class="yp-weekpicker__btn" data-weekpicker-next aria-label="Nästa vecka">&rsaquo;</button>
</div>
